@font-face {
  font-family: 'made_sunflowerregular';
  src: url('fonts/made_sunflower_personal_use-webfont.woff2') format('woff2'),
       url('fonts/made_sunflower_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
