@keyframes fade-down {
  from {
    transform: translate3d(0, -150%, 0);
    opacity: 0;
  }
}

@keyframes fade-up {
  from {
    transform: translate3d(0, 150%, 0);
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  display: flex;
  color: var(--content-color);
  background-image: linear-gradient(90deg, transparent 50%, currentColor 50%);
  background-size: .625rem .625rem;
}

.header,
.footer {
  text-align: center;
  color: #fff;
  background: #abafb4;
}

.header {
  padding: .5rem;

  h1 {
    font-family: made_sunflowerregular;
    font-size: 2rem;
    text-transform: uppercase;
    color: #e6f2e7;
    text-shadow: 0 0 4px, 0 0 8px;
  }
}

.footer {
  padding: .8rem;
  font-size: .8rem;

  p {
    margin: .4em 0;
  }

  &-desc {
    font-size: .9em;
    color: hsla(0, 0%, 100%, .7);
  }

  &-copy {
    display: inline-block;
    margin: 0 .3rem;
  }

  &-love {
    display: inline-block;
    margin: 0 .3em;
    font-family: "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
    font-size: .8em;
  }
}

.main-content {
  margin: auto;
  text-align: center;
  color: var(--primary-color);

  .slogan {
    font-family: made_sunflowerregular;
    font-size: 1.5rem;
    text-shadow: -3px -3px #fff, -3px 3px #fff, 3px -3px #fff, 3px 3px #fff;
    margin-bottom: 1rem;
    animation: fade-down .8s ease-out;
  }

  .sub-slogan {
    color: #777;
    animation: fade-up .8s ease-out;
  }
}

.invite-button {
  margin: 1.2rem 0;
  font-size: 1.2rem;
  animation: fade .8s .4s ease-out both;

  &:active {
    background: #a8b0a7;
  }
}

.invite-modal-wrapper {
  width: 70vw;
  padding: .8rem 0;
}

.invite-error {
  padding: .8rem 0;
  color: hsl(0, 80%, 50%);
}

.invite-ok {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .invite-modal-wrapper {
    width: 15rem;
  }
}
